/*注册主体框框*/
.reg_main_frame{
width: 1000px;

height: 550px;
margin: 0 auto;
margin-top: 3px;
}

/*加入后可以选择*/
.play_item{
width: 270px;
/*height: 650px;*/
float: left;
}
.play_item img{
float: right;
}

/*注册用的表格div*/
.reg_table1{
	width:725px;
	margin-left:3px;
	/*height:650px;*/
	float:left;
}
.reg_table1 table{
	width:700px;
}
/*控制显示和不显示*/
.gra_spe{
	display:none;
}
/*对注册表格的外观进行控制*/
.tab_td1{
	width:110px;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color:#808080;
	padding-right: 10px;/*右填充*/
}
.tab_td2{
	width: 250px;
}

